<div *ngIf="isAuthenticated">
    <div class="content">
        <div class="container-sm">
            <img src="assets/salud_total_1.png" class="img-fluid" alt="Descripción de la imagen">
            <h3 class="text-primary">BIENVENIDO {{ response_user_names.first_name + ' ' + response_user_names.last_name }} </h3>
            <i class="bi bi-person-circle"></i>
            <i class="bi bi-power"></i>
            <app-logout></app-logout>
            <h4 class="text-primary">¿Qué trámite desea realizar?</h4>
            <button (click)="redirect_request_a_medical_appointment()" class="btn btn-primary">Solicitar cita médica</button>
            <button (click)="redirect_consult_appointment()" class="btn btn-primary">Consultar cita médica</button>
        </div>
    </div>
</div>
